* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #193952;
    padding-left: 5px;
    width: 20%;
    height: 100vh;
    position: fixed;

}

header a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-top: 12px;
    font-size: 16px;
    display: block;



}

header h2 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 28px;

}

section {
    background-color: white;
    padding: 25px 20px;
    height: 100vh;
    width: 78%;
    float: right;


}

section h1 {
    padding-bottom: 35px;
}

#titulo,
#nombre,
#descripcion,
#nivel,
#estado,
#fecha {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
#descripcion{
    height: 100px;
}

form label {
    color: #093e69;
    font-weight: 600;
}

header a:hover {
    background-color: #657786;
    padding-left: 5px;
    font-size: 16px;
    display: block;
}

button {
    background-color: #193952;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

select{
padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
}
#fecha{
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
       padding-top: 10px;

}